body {background-color:white;}
h1 {    color: #f7f7f7;
    text-align: center;    font-size: 50px;    font-weight: bold;    background-image: url(//static.pubmed.gov/portal/portal3rc.fcgi/4082620/img/32161);    margin: 0;    padding: 33px 75px 33px 75px;    line-height: 1px;}
tab1 {padding: 40px; color:black;}
tab2 {color:grey;}
tab3 {text-align:right;}
h2 {font-weight:bold; font-size: 30px; color: blue; }
tab4 {color: red; font-weight:bold;}
